# This is Git`s per-user configuration file.
[user]
#Please adapt and uncomment the following lines.
    name = Jonathan Arias
    email = jona.destrec@gmail.com
[init]
    defaultBranch = main
[core]
    editor = code --wait
    